
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body, p, h2.blanco {font-family: 'Raleway', sans-serif;}
p, h2 {color: #383838;}
h1, h2 {font-family: 'Josefin Sans', sans-serif;text-transform: uppercase;}
body {
     color: black;
     background: #F1F1F1;
     font-size: 16px;
     height: 100%;
}
:root {
     --azulcielo: #5DF2DA;
     --azulyacht: #014684;
     --verdeyacht: #6BD4C3;
     --dedalo: #D2C29D;
     --gris: #7C7C7C;
     --gris_claro: #c3c3c3;
     --negro50: rgba(0,0,0,0.5);
     --negro60: rgba(0,0,0,0.6);
     --negro70: rgba(0,0,0,0.7);
     --blanco50: rgba(255,255,255,0.5);
     --blanco60: rgba(255,255,255,0.6);
     --blanco70: rgba(255,255,255,0.7);
     --blanco80: rgba(255,255,255,0.8);
     --blanco90: rgba(255,255,255,0.9);
     --trans: all 0.2s ease-in-out;
}
::selection {
     background: var(--dedalo);
     color: black;
}
::-moz-selection {
     background: var(--dedalo);
     color: black;
}

h1 {
     color: white;
     font-weight: 400;
     font-size: 3em;
     line-height: 1.2em;
     
}
     h1 span {font-size: 0.7em;}

h2 {
     font-weight: 100;
     font-size: 3.5em;
     margin-bottom: 5%;
}
     h2::first-letter {color: var(--verdeyacht);font-weight: 600;font-size: 120%;}
h2.blanco {color: var(--blanco90);}

p {
     line-height: 1.4em;
     letter-spacing: 0.6px;
}

ul {
     margin: 0;
padding: 0;
list-style: none;
}

button, input, select, textarea {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
}
button {border: 0; background-color: 0;}

nav {
     width: 100vw;
     background-color: var(--blanco90);
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     position: fixed; 
     z-index: 999;
}
nav ul {
     display: flex;
     margin-right: 20px;
     height: inherit;
}
nav ul li {
     display: flex;
     cursor: pointer;
     list-style: none;
     transition: 0.3s ease all;
}
nav ul li a {
     display: flex;
     align-items: center;
     padding: 10px 15px;
     height: inherit;
     text-transform: uppercase;
     font-size: 0.7em;
     font-weight: 600;
     letter-spacing: 0.7px;
     color: black;
     text-decoration: none;
     border-bottom: 4px solid rgba(255,255,255,0);
     transition: 0.3s ease all;
}
nav ul li a:hover, .selected {
     height: inherit;
     border-bottom: 4px solid var(--azulcielo);
     color: var(--azulcielo) !important;
}

footer {
     background-color: var(--verdeyacht);
     padding: 30px 0;
}
footer small {
     color: white;
     font-size: 0.65em;
     letter-spacing: 0.7px;
}

/* +++++++++++++ CLASES +++++++++++++++++++++++++++++++++++++++ */
.item-a {
     grid-area: header;
}
.item-intro {
     grid-area: intro;
}
.item-ist {
     grid-area: listado;
}
.item-b {
     grid-area: concepto;
}
.item-b2 {
     grid-area: concepto-2;
}
.item-c {
     grid-area: destacados;
}
.item-d {
     grid-area: footer;
}


.index-container {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto 1fr auto auto;
     grid-template-areas: 
       "header"
       "concepto"
       "destacados"    
       "footer";  
}

.index-container-internas {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto auto auto auto auto;
     grid-template-areas: 
       "header"
       "intro"
       "concepto"
       "concepto-2"    
       "footer";  
}

.ocultar {display: none;}
.borde {border: 1px solid red;}
.divisor {
     background: url('../images/divisor@2x.png') no-repeat center center;
     background-size: 450px auto;
     width: 100%;
     height: 60px;
     margin-top: 4% !important;
     margin: 0 auto;
}
#concepto .img-border-bottom {border-bottom: 4px solid var(--verdeyacht);}
#concepto-2 .img-border-bottom {border-bottom: 4px solid var(--azulyacht);}

#concepto .img-concepto, #concepto-2 .img-concepto {position: relative;}

#concepto .img-concepto {left: 5%;}
#concepto .img-concepto-2 {right: 5%;}

.img-concepto img {
     position: relative;
     z-index: 100;
     max-width: 350px;
}

#concepto .img-cuadro-verde, #concepto-2 .img-cuadro-verde {
     width: 50%; 
     height: 95%; 
     position: absolute; 
     bottom: -13px;
     z-index: 99;
}
#concepto .img-cuadro-verde {
     background: var(--verdeyacht);
     left: -15px;
}
#concepto-2 .img-cuadro-verde {
     background: var(--azulyacht);
     right: -15px;
}

.pleca-blanca {
     width: 100%;
     height: 43px;
     background: url('../images/pleca-blanca.svg') bottom center;
     background-size: cover;
     position: absolute;
     bottom: 0;
}

/* BOTONES */
.btn-primario {
     color: white;
     letter-spacing: 0.8px;
     font-weight: 400;
     text-transform: uppercase;
     font-size: 0.75em;
     padding: 15px 25px;
     border-radius: 25px;
     background: var(--azulcielo);
     box-shadow: 0 11px 18px 0 rgba(107,206,190,0.67);
     cursor: pointer;
     transition: 0.3s ease all;
}
.btn-primario:hover {
     background-color: var(--azulyacht);
     box-shadow: 0 6px 9px 0 rgba(47, 45, 71, 0.5);
}

/* HOME ------------------------------- */
#hero {
     height: 85vh;
     text-align: center;
     display: grid;
     align-content: center;
     position: relative;
}
.bkgr01 {background: url('../images/hero-foto1@2x.jpg') no-repeat center center;}
.bkgr02 {background: url('../images/hero-foto2@2x.jpg') no-repeat center center;}
.bkgr03 {background: url('../images/hero-foto3@2x.jpg') no-repeat center center;}
.bkgr04 {background: url('../images/hero-foto4@2x.jpg') no-repeat center center;}

.bkgr01, .bkgr02, .bkgr03, .bkgr04 {
     width: 100vw;
     height: 85vh;
     background-size: cover;
}
.mislider {
     top: 0;
     width: 100vw;
     height: inherit;
     position: absolute !important;
}
.slick-slider {width:100% !important;}
.slick-dots {position: absolute !important; bottom: 55px !important}
.slick-dots li {margin: 0 !important;}
.slick-dots li button:before {color:white !important; opacity:.45 !important; position:relative !important;}
.slick-dots li.slick-active button:before {opacity: 1 !important;}

#hero .call-to-action {margin: 0 auto; margin-top: 3%; width: 100vw;}
#hero small {
     display: flex;
     justify-content: center;
     color: var(--blanco70);
     letter-spacing: 0.5px;
     margin-top: 2%;
}
#hero button {
     margin-top: 2%;
}
.logo {
     width: 90px;
     height: 50px;
     margin-left: 30px;
}

/* CONCEPTO y CONCEPTO-2 ------------------------ */
#concepto, #concepto-2, #concepto-list {
     display: grid;
     padding: 0 8% 0 5%;
     height: 90vh;
     display: grid;
     align-content: center;
}
#concepto .parrafo, #concepto-2 .parrafo {
     text-align: center;
     display: grid;
     align-content: center;
}

/* CONCEPTO ------------------------ */
#concepto {
     grid-template-columns: auto 60%;
     padding-top: 8%;
}
#concepto .parrafo {
     padding-left: 10%;
}

/* CONCEPTO 2 ------------------------ */
#concepto-2 {
     grid-template-columns: 60% auto;
}
#concepto-2 .parrafo {
     padding-right: 10%;
}
#concepto-2 .imagen {
     display: grid;
     justify-content: flex-end;
}

/* CONCEPTO LIST ------------------------ */
#concepto-list {
     justify-items: center;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto;
     margin-top: 5%;
}
#concepto-list .listados {
     display: grid;
     grid-auto-flow: column;
}
#concepto-list .listados ul li {
     line-height: 1.4em;
     padding-bottom: 17px;
}
.servicios #concepto {
     padding-top: 0;
     margin-bottom: 5%;
     min-height: 600px;
}

/* CONCEPTO MAPA ------------------------ */
#concepto-mapa {
     justify-items: center;
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto;
     margin: 10% 0;
     text-align: center;
}


/* HOME > DESTACADOS ------------------------ */
#destacados {
     height: 180vh;
     background: linear-gradient(0deg, #6BD4C3 15%, rgba(9,144,135,0.00) 70%), url('../images/foto-home-verde@2x.jpg') no-repeat top center;
     background-attachment: fixed;
     background-size: cover;
     text-align: center;
     display: grid;
     justify-content: center;
     align-content: space-between;
     padding: 14% 0;
}

#destacados .doce_anos {
     position: relative;
     /* border: 1px solid green; */
     display: inherit;
     margin: 0 auto;
}
     .doce_anos button {width: 50%;margin: 0 auto;margin-top:12%;}

#destacados h2.blanco {
     width: inherit;
     text-transform: inherit;
     letter-spacing: 2px;
     font-weight: 300;
     line-height: 1em;
}
     h2.blanco::first-letter {color: inherit;font-size: inherit;font-weight: inherit;}
     h2.blanco::before, h2.blanco::after {
          content: url('../images/guirnalda.svg');
          position: absolute;
          bottom:0;
          top:0;
     }
     h2.blanco::before {left:-70px;}
     h2.blanco::after {right:-70px;-webkit-transform: scaleX(-1);transform: scaleX(-1);}

#destacados .beneficios {
display: flex;
justify-content: center;
}
     .beneficios .container {
          width: 80%;
          display: grid;
          justify-content: space-around;
          grid-auto-flow: column;
     }
     .beneficios p {
          color: white;
          font-weight: 300;
          margin-top: 10px;
     }
     .beneficios img {
          width: 60px;
          height: 65px;
          padding-bottom: 20px;
          border-bottom: 1px solid white;
     }
     .beneficios .item {
          max-width: 85%;
          /* border: 1px solid white; */
     }

 /* HOME > DESTACADOS ------------------------ */
 footer {
      text-align: center;
      display: grid;
      justify-content: center;
      padding-bottom: 35px 0;
 }
 footer .iconos {margin-bottom: 20px;}
 footer .iconos .logo-blanco {width: 80px;}
 footer .iconos img {margin: 0 15px;}

/* PÃGINAS INTERNAS > --------------------------------- */

/* NOSOTROS ------------------------ */
#hero-interna {
     height: 40vh;
     min-height: 300px;
     text-align: center;
     display: grid;
     align-content: center;
     position: relative;
}
#hero-interna h1 {padding-top: 30px;}
#intro p {
     color: white !important;
}
#intro {
     position: relative;
     color: white;
     background-color: var(--verdeyacht);
     height: 60vh;
     min-height: 300px;
     max-height: 350px;
     text-align: center;
     display: flex;
     justify-content: center;
     flex-flow: column;
}
#intro article {
     padding: 0 10%;
}
#intro::before {
     position: absolute;
     content: "";
     background: url('../images/pleca-verde.svg')no-repeat center center;
     background-size: 100% 49px;
     height: 49px;
     width: 100%;
     margin: 0 auto;
     bottom: -25px;
}
#intro .divisor-intro {
     margin: 0 auto;
     height: 35px;
     width: 200px;
     margin-bottom: 20px;
}
#intro .divisor-intro.mundo {
     background: url('../images/divisor-mundo@2x.png')no-repeat center center;
     background-size: cover;
}
#intro .divisor-intro.engrane {
     background: url('../images/divisor-engrane@2x.png')no-repeat center center;
     background-size: cover;
}
#intro .divisor-intro.contacto {
     background: url('../images/divisor-contacto@2x.png')no-repeat center center;
     background-size: cover;
}
#intro ul {
     display: grid;
     grid-auto-flow: column;
     grid-template-columns: 1fr 1fr 1fr;
     padding-top: 5%;
}
#intro ul li a {
     letter-spacing: 0.4px;
     text-decoration: none;
     color: white;
     transition: var(--trans);
}
#intro ul li a:hover {
     color: var(--azulyacht)
}

.bkgr01-interna {background: url('../images/hero-foto1-interna@2x.jpg') no-repeat center center;}

.bkgr01-interna, .bkgr02-interna, .bkgr03-interna {
     width: 100vw;
     height: 40vh;
     min-height: 300px;
     background-size: cover;
}

/* NOSOTROS ------------------------ */
.listado-internas {
     line-height: 2em;
     text-align: left;
     padding: 0 33px;
}

.listado-internas {
     list-style-image: url("../images/bullet.svg");
     list-style-position: outside;
   }

/* NOSOTROS ------------------------ */
.contacto h2 {
     margin-bottom: 0;
} 
.contacto .divisor {
     margin: 0 0 4% 0 !important;
}

/* CONTACTO ------------------------ */
.map-responsive {
     overflow:hidden;
     padding-bottom:56.25%;
     position:relative;
     height:0;
 }
 .map-responsive iframe{
     left:0;
     top:0;
     height:100%;
     width:100%;
     padding: 0 5%;
     position:absolute;
 }
 .contacto .divisor {
     display: flex;
     justify-self: center;
}

/* //////////////////// */
/* MEDIA QUERIES */
/* //////////////////// */

 /* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
     .img-concepto {
          width: 300px;
          margin: 5% auto;
     }
     #concepto .imagen, #concepto-2 .imagen {
          display: grid;
          justify-content: center;
          text-align: center;
      }
      #concepto .parrafo {
          padding-left: 0;
      }
      .img-concepto img {
          width: 230px;
     }
}

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
     
     h2 {
          font-size: 2.3em;
          margin: 0;
      }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
     #intro ul {
          display: grid;
          grid-auto-flow: row;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          padding-top: 5%;
     }
     h2 {
          font-size: 2em;
          margin: 5% 0;
      }
     #concepto-list {
          height: 100%;
          margin: 11% 0;
     }
     #concepto-list .listados {
          display: grid;
          grid-auto-flow: row;
     }
     
     
     #concepto .img-concepto {
          left:0;
      }
     #concepto, #concepto-2 {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
          padding: 8%;
     }
     #concepto .img-cuadro-verde {left: 20px;}
     #concepto {
          margin-top: 10%;
     }
     #concepto-2 {
          margin-bottom: 10%;
     }
 }

 @media (max-width: 575.98px) { 
     #hero, .bkgr01, .bkgr02, .bkgr03, .bkgr04 {
          height: 100vh;
     }
     #hero .logo {width: 70px; height: 40px;}
     #hero nav, #hero-interna nav {padding:7px 0;max-height: 70px;}
     #hero nav ul, #hero-interna nav ul {
          display: grid;
          grid-row: column;
          height: 60vh;
          justify-content: center;
          align-items: center;
          margin-top: 20%;
     }
     #hero nav ul li, #hero-interna nav ul li {
          padding: 0;
     }
     #hero nav ul li a, #hero-interna nav ul li a {
          width: 100%;
          justify-content: center;
     }
     h1 {
          font-size: 2em;          
     }
          h1 span {font-size: 0.6em;}
     h2 {
          text-align: center;
          }
     /* concepto foto izquierda */
     #concepto {
          grid-template-columns: auto;
          grid-template-rows: auto;
          justify-content: center;
          padding: 8% 5%;
          height: 100%;
     }
     #concepto .parrafo {
          padding-left: 0;
     }
     #concepto-2 .img-concepto  {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          margin-bottom: 15%;
          left: 0;
     }
     .img-concepto img {width: 70%; margin: 10px 0 0 0}     
     .img-concepto .img-cuadro-verde {left: 10%;}   
     /* termina concepto foto izquierda */
     
     /* concepto foto derecha */
     #concepto-2 {
          grid-template-columns: auto;
          grid-template-rows: auto;
          justify-content: center;
          padding: 8% 5%;
          height: 100%;
     }
     #concepto-2 .parrafo {
          padding-right: 0;
     }
     #concepto-2 .img-concepto  {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          margin-bottom: 15%;
          right: 0;
     }

     #concepto-2 .img-concepto img {width: 70%; margin: 10px 0 0 0}     
     #concepto-2 .img-concepto .img-cuadro-verde {right: 10%;}   
     /* termina concepto foto derecha */

     #destacados {padding: 17% 0; height: 150vh;}
     #destacados .beneficios .container {
          width: 80%;
          display: grid;
          justify-items: center;
          grid-auto-flow: row;
     }
     #destacados .beneficios .container div {margin: 25px 0;}
     #destacados h2.blanco {font-size: 1.5em;}
     #destacados .doce_anos button {width: 100% !important;}

     .hideoverflow {
          overflow: hidden;
      }
     .burger-button, .burger-menu {
          position: absolute;
          position: fixed;
          top: 0;
          right: 0;
      }
      .burger-button {
          position: fixed;
          background: url("../images/lnr-menu.svg") no-repeat center center;
          transform: scale(1.5);
          width: 30px;
          margin-right: 10px;
          margin-top: 5px;
          padding: 30px 17px 9px;
          transition: var(--transicion);
          z-index: 991;
      }
      .burger-button:hover {
          background: url("../images/lnr-menu-hover.svg") no-repeat center center;
      }
      .burger-menu {
          background: rgba(255,255,255,0.95);
          z-index: 998;
          height: 100vh;
          right: -100vw;
          width: 100vw;
          transition: all 0.4s ease-in-out;
      }
      .burger-menu.is-active {
          right: 0;
      }
      a.boton-cerrar {
          position: absolute;
          background: url("../images/close.svg") no-repeat center center;
          background-size: cover;
          width: 50px;
          height: 50px;
          right: 10px;
          cursor: pointer;
          margin: 7px 7px 0;
          z-index: 9999;
          transition: var(--transicion);
      }
      a.boton-cerrar:hover {
          background: url("../images/close-hover.svg") no-repeat center center;
          background-size: 3em; 
      }
      .boton-cerrar img {
          width: 50px;
      }

      #intro p {
           font-size: 0.8em;
      }
 }



