body {
    background-color: #55b9f3;
}
nav ul li {
    display: inline-block;
    padding: 20px;
    border-radius: 11px;
background: #55b9f3;
box-shadow:  6px 6px 13px #489dcf, 
             -6px -6px 13px #62d5ff;
             transition: 1s ease all;
}
nav ul li:hover {
    

    border-radius: 7px;
background: #55b9f3;
box-shadow: inset 6px 6px 13px #489dcf, 
            inset -6px -6px 13px #62d5ff;
}